.product-card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: none;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  /* Gradient bottom effect */
 background: linear-gradient(to top, #ffefba, #ffffff);
  background-repeat: no-repeat;
  background-size: 100% 60px;
  background-position: bottom;
}

/* 
@keyframes border-move {
  0% { background-position: 0% 50%, 0% 50%; }
  100% { background-position: 100% 50%, 100% 50%; }
} */
/* .product-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: radial-gradient(circle at 50% -20px, #2575fc 35%, transparent 36%);
  background-repeat: repeat-x;
  background-size: 30px 100%;
} */

.product-card:hover {
  transform: translateY(-4px);
}

.product-image {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.product-title {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.product-price {
  color: #27ae60;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.product-description {
  flex-grow: 1;
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: justify;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  opacity: 80%;
}





.add-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #2980b9;
}